$website-width: 1280px;
$primary-color: #1f618d;
$primary-light-color: #5dade2;

$secondary-color: #d35400;
$secondary-ligth-color: #f39c12;
$secondary-ligthess-color: #fadbd8;

$color-grey: #85929e;
$color-grey-light: #eaeded;

$color-black: #273746;
